<div class="container">
  <div class="py-5 text-center">
    <h2>Dodaj swoją ofertę</h2>
  </div>

  <div class="row">
    <div class="col my-column">
      <form #offerForm="ngForm" (ngSubmit)="addOffer()">
        <div class="row">
          <div class="col mb-4">
            <label>Nazwa narzędzia</label>
            <input type="text" class="form-control" name="tool" placeholder="Nazwa narzędzia" id="tool" [(ngModel)]="model.tool"
              #name="ngModel">
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-4">
            <label>Kategoria</label>
            <select [(ngModel)]="categoryName" class="custom-select d-block w-100" [ngModelOptions]="{standalone: true}">
              <option *ngFor="let category of getCategoriesNames()" [value]="category">{{category}}</option>
            </select>
          </div>

          <div class="col-md-6 mb-4">
            <label>Zdjęcie przedmiotu <span class="text-muted">(Opcjonalne)</span></label>
            <input name="imageSource" type="text" class="form-control" placeholder="Zdjęcie" [(ngModel)]="model.imageSource"
              #name="ngModel">
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-4">
            <label>Grupa, w której przedmiot zostanie udostępniony</label>
            <select class="form-control" id="group" [(ngModel)]="model.groupId" name="group" #group="ngModel">
              <option *ngFor="let group of groups" [value]="group.id">{{group.name}}</option>
            </select>
          </div>
        </div>

        <div class="mb-4">
          <label for="email">Opis <span class="text-muted">(Opcjonalny)</span></label>
          <textarea name="description" class="form-control" id="exampleFormControlTextarea1" [(ngModel)]="model.description"
            #name="ngModel" rows="3"></textarea>
        </div>

        <hr class="mb-4">
        <button class="btn btn-outline-success btn-lg btn-block my-button" type="submit">Dodaj ofertę</button>
      </form>
    </div>
  </div>

</div>
