.my-btn{
    margin:10px;
    position: relative;
}
.my-icons{
    padding: 5px;

}
.points {
  font-size: 20px;
  margin-right:10px;
  margin-top:10px
}

.button_badge {
  background-color: #fa3e3e;
  border-radius: 2px;
  color: white;
 
  padding: 1px 3px;
  font-size: 12px;
  
  position: absolute; 
  top: 0;
  right: 0;
}
a:not([href]):not([tabindex]) {
  text-decoration: none;
  color: #28a745;

}
