<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-sm-12 justify-content-center">
        <h5>Powiadomienia</h5>
      </div>
    </div>
  </div>
  <div class="card-body pre-scrollable my-card-body-height">
    <div class="row">
      <div class="list-group">
        <div class="list-group-item list-group-item-action" *ngFor="let request of rentRequests">
          <div class="row">
            <div class="col">
              <span>Użytkownik
                <a [routerLink]="['/user-profile', request.targetUserId]">{{request.targetNotificationUserName}}</a>
                prosi o udostępnienie przedmiotu oferty:
                <a  [routerLink]="['/offer-view', request.offerId]">{{request.offerName}}</a>
              </span>
            </div>
            <div clss="col-auto">
              <button (click)="onApproveRentRequestModalOpen(request)" class="btn btn-success btn-sm float-right" >
                <i class="material-icons">done</i>
              </button>
            </div>
            <div clss="col-auto">
              <button class="btn btn-danger btn-sm float-right" (click)="onRequestNotificationRejected(request)" >
                <i class="material-icons">clear</i>
              </button>
            </div>
          </div>
        </div>
        <div class="list-group-item list-group-item-action" *ngFor="let opinion of opinions">
          <div class="row">
            <div class="col">
              <span>Wystaw opinię użytkownikowi
                <a [routerLink]="['/user-profile', opinion.targetUserId]">{{opinion.targetNotificationUserName}}</a>
                za przedmiot oferty:
                <a [routerLink]="['/offer-view', opinion.offerId]">{{opinion.offerName}}</a>
              </span>
            </div>
            <div clss="col-auto">
              <form >
                <div class="form-group">
                  <textarea class="form-control" name="o-{{opinion.id}}" [(ngModel)]="inputText[opinion.id]" id="exampleFormControlTextarea1" rows="1"></textarea>
                </div>
              </form>
            </div>
            <div clss="col-auto">
              <button  class="btn btn-success btn-sm float-right my-send-button" (click)="onOpinionSent(opinion.id)">Wyślij</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer my-card-footer-height">
  </div>
</div>

<!-- Modal - approve rent request -->
<div class="modal fade" id="approveRentRequestModal" tabindex="-1" role="dialog" aria-labelledby="approveRentRequestModalLabel" aria-hidden="true">
  <app-approve-rent-request></app-approve-rent-request>
</div>
