<!--<ng-template #content let-modal>-->
<div class="modal-content">
  <div class="modal-header">
    <div class="modal-title" id="modal-basic-title">
      <h5>Zaakceptuj umowę</h5>
    </div>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div *ngIf="offerTool && owner && borrower" class="card card-body">
        <p>UMOWA WYPOŻYCZENIA SPRZĘTU</p>
        <a>Zawarta w ramach portalu MyToolsYourTools
          pomiędzy
          {{owner?.firstName}} {{ owner?.lastName }},
          tel. kontaktowy: {{ owner?.phoneNumber }}, adres email: {{ owner?.email }},
          zwanym dalej WŁAŚCICIELEM SPRZĘTU,</a>
        <p>a
          {{borrower?.firstName}} {{ borrower?.lastName }},
          tel. kontaktowy: {{ borrower?.phoneNumber }}, adres email: {{ borrower?.email }},
          zwanym dalej WYPOŻYCZAJĄCYM.</p>
        <p>§ 1
          Przedmiotem umowy jest wypożyczenie następującego sprzętu: {{ offerTool }}.</p>
        <p>§ 2
          Właściciel sprzętu przekazuje do używania Wypożyczającemu sprzęt sprawny technicznie zgodnie z
          obowiązującymi przepisami bezpieczeństwa.</p>
        <p>§ 3
          Wypożyczający zobowiązuje się do użytkowania sprzętu zgodnie z jego przeznaczeniem i jednocześnie ponosi
          pełną odpowiedzialność za ewentualne zdarzenie wynikłe z jego nieodpowiedniego korzystania.</p>
        <p>§ 4
          Za uszkodzenia wynikłe z nieodpowiedniego korzystania z wypożyczonego sprzętu winę ponosi Wypożyczający, on
          także pokrywa wszystkie koszty związane z naprawą przedmiotowego sprzętu.</p>
        <p>§ 5
          Do innych nie uregulowanych przepisów niniejszej umowy zastosowanie znajdują przepisy Kodeksu Cywilnego.
          Wszystkie spory wynikłe w drodze zawartej umowy rozstrzygane będą przez Sąd Rejonowy właściwy dla adresu
          Właściciela sprzętu.</p>
        <p>§ 6
          Właściciel udostępnia sprzęt wypożyczającemu z własnej woli, bez żadnych opłat, zgodnie z zasadami portalu
          MyToolsYourTools.</p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success" (click)="approveRentRequest()">Zaakceptuj</button>
    <button class="btn btn-danger" (click)="rejectRentRequest()">Odmów</button>
  </div>
</div>
<!--</ng-template>-->
