<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col">
        <h5>Grupy</h5>
      </div>
      <div clss="col-auto">
        <a href="admin-panel" class="btn btn-primary btn-sm float-right">Utworz</a>
      </div>
    </div>
  </div>
  <div class="card-body my-buttons-wrap">
    <div class="row my-buttons-container">
      <a id="myGroupsBtn" class="col btn btn-outline-primary my-button" role="button" (click)="toggleGroups(true)"
      [ngClass]="{'my-button-active': isMyGroupsActive }">Moje</a>
      <a id="allGroupsBtn" class="col btn btn-outline-primary my-button" role="button" (click)="toggleGroups(false)"
      [ngClass]="{'my-button-active': !isMyGroupsActive }">Wszystkie</a>
    </div>
    <div class="list-group">
      <div class="list-group-item list-group-item-action" *ngFor="let group of getActiveGroups()">
        <div class="row">
          <div class="col">
            <span>{{group.name}}</span>
          </div>
          <div clss="col-auto">
            <a href="admin-panel" class="btn btn-danger btn-sm float-right">
              {{isMyGroupsActive ? 'Opuść' : 'Dołącz'}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
