<div *ngIf="offer" class="container" >
    <span class="offer-header">{{ offer.tool }}</span>
    <img class="offer-image" src="{{ offer?.imageSource }}" />

  <div *ngIf="owner">
    <p class="top-buffer20"></p>
    <span>Wystawił: </span>
    <a [routerLink]="['/user-profile', owner.id]" class="badge badge-success top-buffer40">
      {{owner.firstName}} {{ owner.lastName }}
    </a>
  </div>
  <p class="top-buffer20"></p>
  <span>Udostępnione w grupie: </span>
  <a>{{ group?.name }}</a>
  <div class="top-buffer20">Opis przedmiotu:</div>
  <div class="offer-description top-buffer10">
    {{ offer.description }}
  </div>
  <hr class="mb-4" />
  <div *ngIf="!isMyOffer()" name="notMyOffer">
    <div *ngIf="!hasOfferBorrowedStatus()" name="notBorrowedByMe">
      <button class="btn btn-outline-success btn-lg btn-block my-2 my-sm-0" (click)="sendRentRequest()"
        [disabled]="alreadySendRentRequest"> <!-- Dodać wycofainie prośby o wypożyczenie -->
        {{ alreadySendRentRequest ? "Prośba o wypożyczenie została wysłana" : "Złóż prośbę o wypożyczenie" }}
      </button>
    </div>
    <div *ngIf="hasOfferBorrowedStatus()" name="borrowedByMe">
        <button class="btn btn-outline-success btn-lg btn-block my-2 my-sm-0" (click)="sendRentRequest()"
          [disabled]="true"> <!-- Dodać wycofainie prośby o wypożyczenie -->
          {{ "Oferta aktualnie wypożyczona" }}
        </button>
      </div>
  </div>
  <div *ngIf="isMyOffer()" name="myOffer" class="row">
    <div class="col">
      <button class="btn btn-outline-success btn-lg" data-toggle="modal" data-target="#leaveFeedbackModal"
        [disabled]="!hasMyOfferBorrowedStatus()" >
        Potwierdź zwrot
    </button>
    </div>
    <div class="col">
      <button class="btn btn-lg btn-danger" (click)="deleteOffer()">
          Usuń ofertę
      </button>
     </div>
    <div class="col">
      <button class="btn btn-lg" [ngClass]="{
              'btn-secondary': !hasOfferHiddenStatus(),
              'btn-success': hasOfferHiddenStatus()
            }" type="button" (click)="changeOfferStatus()" [disabled]="hasOfferBorrowedStatus()">
                {{ hasOfferHiddenStatus() ? "Aktywuj ofertę" : "Ukryj ofertę" }}
            </button>
        </div>
        <div class="col">
            <h6>Status oferty:</h6>
            <h5>{{getOfferStatusName(offer.status)}}</h5>
        </div>
    </div>
</div>


<div class="modal fade" id="leaveFeedbackModal" tabindex="-1"
 role="dialog" aria-labelledby="leaveFeedbackModalLabel" aria-hidden="true">
   <app-leave-feedback [borrower]="borrower" (sentOpinion)="onOpinionSent($event)">
    </app-leave-feedback>
</div>

