<nav class="navbar navbar-expand-lg navbar-light bg-light">


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Grupa
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" *ngFor="let group of groups" href="#" value = "group.id" (click)="onGroupSelect(group.id)">{{group.name}}</a>
            
          </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Kategoria
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" *ngFor="let name of categoryNames" href="#">{{categories[name]}}</a>
            </div>
          </li>

      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input (keyup) = "onKey($event)" class="form-control mr-sm-2" type="search" placeholder="Wyszukaj" aria-label="Search">
      </form>
    </div>
  </nav>
